<div class="issues">
  <div *ngIf="issues.length == 0" class="no-issues"> No JIRA issues </div>
  <mat-nav-list>
    <mat-list-item *ngFor="let issue of issues">
      {{ issue.text }}
      <div class="button-actions">
        <button mat-icon-button (click)="remove(issue)">
          <mat-icon class="mat-24">delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-nav-list>
  <br/>
  <form class="example-form" (ngSubmit)="f.form.valid && addIssue()" #f="ngForm">
    <mat-form-field class="example-full-width">
      <input name="text" matInput placeholder="Issue" [(ngModel)]="model.text" #text="ngModel" required>
      <mat-error *ngIf="f.submitted && !text.valid">
        Description required
      </mat-error>
    </mat-form-field>
    <button mat-mini-fab>
      <mat-icon class="mat-24">add</mat-icon>
    </button>
  </form>
  <br/>
  <form [formGroup]="formGroup">
    <div class="actions">
      <button matStepperNext [disabled]="issues.length === 0" (click)="exportToJira()" mat-raised-button color="primary">Export to JIRA</button>
      <button [disabled]="issues.length === 0" (click)="exportToTrello()" mat-raised-button color="primary">Export to Trello</button>
    </div>
  </form>
</div>
