<div class="issues">
  <div *ngIf="issues.length == 0" class="no-issues"> No issues </div>
  <md-nav-list>
    <md-list-item *ngFor="let issue of issues">
      {{ issue.text }}
      <div class="button-actions">
        <button md-icon-button (click)="remove(issue)">
          <md-icon class="md-24">delete</md-icon>
        </button>
      </div>
    </md-list-item>
  </md-nav-list>
  <br/>
  <form class="example-form" (ngSubmit)="f.form.valid && addIssue()" #f="ngForm">
    <md-form-field class="example-full-width">
      <input name="text" mdInput placeholder="Issue" [(ngModel)]="model.text" #text="ngModel" required>
      <md-error *ngIf="f.submitted && !text.valid">
        Description required
      </md-error>
    </md-form-field>
    <button md-mini-fab>
      <md-icon class="md-24">add</md-icon>
    </button>
  </form>
  <br/>
  <form [formGroup]="formGroup">
    <div class="actions">
      <button mdStepperNext [disabled]="issues.length === 0" (click)="exportToJira()" md-raised-button color="primary">Export to JIRA</button>
      <button mdStepperNext [disabled]="issues.length === 0" (click)="exportToTrello()" md-raised-button color="primary">Export to Trello</button>
    </div>
  </form>
</div>
