<md-horizontal-stepper #mdStepper [linear]="isLinear">
  <md-step [stepControl]="issuesFormGroup">
    <ng-template mdStepLabel>Issues</ng-template>
    <app-issues [formGroup]="issuesFormGroup" [stepperComponent]="this"></app-issues>
  </md-step>
  <md-step [stepControl]="loginFormGroup">
    <ng-template mdStepLabel>Credentials</ng-template>
    <app-login [formGroup]="loginFormGroup"></app-login>
  </md-step>
  <md-step [stepControl]="projectsFormGroup">
    <ng-template mdStepLabel>Choose Project</ng-template>
    <app-projects-wrapper [formGroup]="projectsFormGroup"></app-projects-wrapper>
  </md-step>
  <md-step>
    <ng-template mdStepLabel>Done</ng-template>
    <app-final-step></app-final-step>
  </md-step>
</md-horizontal-stepper>
