<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="issuesFormGroup">
    <ng-template matStepLabel>Issues</ng-template>
    <app-issues [formGroup]="issuesFormGroup"></app-issues>
  </mat-step>
  <mat-step [stepControl]="loginFormGroup">
    <ng-template matStepLabel>Credentials</ng-template>
    <app-login [formGroup]="loginFormGroup"></app-login>
  </mat-step>
  <mat-step [stepControl]="projectsFormGroup">
    <ng-template matStepLabel>Choose Project</ng-template>
    <app-projects [formGroup]="projectsFormGroup"></app-projects>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <app-final-step></app-final-step>
  </mat-step>
</mat-horizontal-stepper>
