<mat-spinner [class.hidden]="authorized"></mat-spinner>
<form [class.hidden]="!authorized" [formGroup]="formGroup" (ngSubmit)="submit()">
  <mat-select placeholder="Project" formControlName="projectId">
    <mat-option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</mat-option>
  </mat-select>
  <mat-select placeholder="Issue Type" formControlName="issueTypeId">
    <mat-option *ngFor="let issueType of issueTypes" [value]="issueType.id">{{ issueType.name }}</mat-option>
  </mat-select>
  <mat-select placeholder="Rapid View" formControlName="rapidViewId" (change)="onRapidViewSelect()">
    <mat-option *ngFor="let rapidView of rapidViews" [value]="rapidView.id">{{ rapidView.name }}</mat-option>
  </mat-select>
  <mat-select placeholder="Sprint" formControlName="sprintId">
    <mat-option *ngFor="let sprint of sprints" [value]="sprint.id">{{ sprint.name }}</mat-option>
  </mat-select>
  <div class="actions">
    <button mat-raised-button color="primary" matStepperNext>Next</button>
    <button (click)="onBack()" #backButton mat-button matStepperPrevious>Back</button>
  </div>
</form>
