<form [formGroup]="formGroup"  (ngSubmit)="login()">
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
    <mat-error *ngIf="formGroup.controls['username'].hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="formGroup.controls['password'].hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <div class="actions">
    <button mat-raised-button color="primary" matStepperNext>Login</button>
    <button mat-button matStepperPrevious>Back</button>
  </div>
</form>
