<form [formGroup]="formGroup"  (ngSubmit)="login()">
  <md-form-field>
    <input mdInput placeholder="Username" formControlName="username">
    <md-error *ngIf="formGroup.controls['username'].hasError('required')">
      Username is <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field>
    <input mdInput placeholder="Password" formControlName="password">
    <md-error *ngIf="formGroup.controls['password'].hasError('required')">
      Password is <strong>required</strong>
    </md-error>
  </md-form-field>
  <div class="actions">
    <button md-raised-button color="primary" mdStepperNext>Login</button>
    <button md-button mdStepperPrevious>Back</button>
  </div>
</form>
